<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.book.book.mapper.LibraryInfoMapper">
    <resultMap id="BaseResultMap" type="com.book.book.model.pojo.LibraryInfo" >
        <id column="id" property="id" jdbcType="INTEGER" />
        <result column="library_name" property="libraryName" jdbcType="VARCHAR" />
        <result column="address" property="address" jdbcType="VARCHAR" />
        <result column="open_time" property="openTime" jdbcType="VARCHAR" />
        <result column="contact_phone" property="contactPhone" jdbcType="VARCHAR" />
    </resultMap>
    <sql id="Base_Column_List">
        classno,cname,cteacher,
        classroom
    </sql>
<!--    获取数据库中图书馆的信息-->
    <select id="getLibraryById" resultMap="BaseResultMap">
        select  * from library_info;
    </select>
<!--    编辑图书馆信息-->
    <update id="update">
        update library_info
        <set>
            <if test="libraryName!= null">
                library_name = #{libraryName},
            </if>
            <if test="address!= null">
                address = #{address},
            </if>
            <if test="openTime!= null">
                open_time = #{openTime},
            </if>
            <if test="contactPhone!= null">
                contact_phone = #{contactPhone}
            </if>
        </set>
    </update>
</mapper>